<div class="main_flow">
  <%= form_for @flow do |form| %>
    <div class="registration_show">
       <%= @flow.year_month_day&.strftime("%Y年%-m月%-d日") %>
    </div>
      <%= render partial: "form", locals: { form: form } %>
    <div class="submit">
      <%= form.submit  value="編集完了する",class: 'btn btn-default' %>
    </div>  
   <% end %>   
</div>      