<div class="side_bar">

  <div class="side_bar_upper">
    <%= date_select :registrationday,
        start_year: 2020, end_year: Time.current.year,
        use_month_numbers: true %>
        


  

  </div>
  <div class="sidebar_under"> 
  </div>




</div>