<div class="side_bar">

  <div class="side_bar_upper">
    <% if user_signed_in? && current_user.id %>
      <%= link_to '登録する', new_flow_path, method: :get,class: 'btn btn-default' %>  
    <% end %> 
  </div>
  <div class="side_bar_under"> 
  </div>
</div>