/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "modules/flash";
 @import "./sessions";
 @import "./registrations";
 @font-face {
  font-family: 'ほのか明朝';
  src: url('font_1_honokamin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

 
/* ページ全体 */
body {
  background-color: white;
  color: black;
  margin: 0; padding: 0;
  font-family: Meiryo, sans-serif;
}

/* リンク */
a:link { color: #00c; }
a:visited { color: #00c; }
a:hover { color: #f00; }
a img { border: none; }

/* ブロック要素 */
p, h1, h2, h3, table, ul {
  margin: 0 0 1em;
}

/* ナビゲーション */
nav ul,
ul.toolbar,
ul.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li,
div.toolbar li,
ul.toolbar li,
ul.links li {
  display: inline;
}

/* 全体の枠 */
div#container {
  margin: 0 auto;
  padding-top: 5px;
  width: 1300px;
  height: 600px;

  /* 左の枠（サイドバーを入れる） */
  aside#sidebar {
    float: left;
    width: 240px;
    height:650px;
    background-color: #e8ffff;
    padding: 10px;
    font-size: 86%;

    .side_bar {
    margin-top: 20px; 

      .side_bar_upper {
        margin-bottom: 40px;
      }
      .side_bar_middle {
          height: 80px;
          margin-bottom: 40px;
        .search_registration {
          height:80px;
        }
      }
      .side_bar_under {
        height: 80px;
        margin-bottom: 40px;
      .search_registration {
        height:80px;
      }
    }
    }
  }
  /* 左の枠（コンテンツを入れる） */
  main#mainbar {
    float: left;
    width: 1000px;
    height:600px; 
    padding: 50px 20px 20px 20px;
    
    .main_flow{
      width: 1000px;
      height:600px; 
      position: relative; 

      .registration{
          height:50px;

        &_label{
          background-color: #6bb;
          color: #fff;
          height: 50px;
          font-size: 23px;
          line-height:50px;
        }
      }  
      .registration_show{
        width: 900px;
        height:50px;
        font-size: 25px;
        font-weight: bold;
      } 
      .registration_search{
        height:50px;
        font-size: 15px;
        font-weight: bold;

      } 
      .main_flow_top-after {
        width: 800px;
        height:400px;
        margin:  auto;
        font-size: 100px;
        color: #6bb;
        line-height: 100px; 
        text-align: left; 
        padding-top: 120px;  
      }
      .main_flow_top-before {
        width: 800px;
        height:400px;
        margin:  auto;
        font-size: 20px;
        color: #6bb;
        line-height: 20px; 
        text-align: left; 
        padding-top: 50px;  
      }
      .main_flow_income{
        width: 420px;
        height:400px;
        margin-right: 20px;
        float: left;     
      }
      .main_flow_termflow{
        width: 420px;
        height:180px; 
        position: absolute;
        left: 0;
        right: 280px;
        top: 420px;
        bottom :0;
      }
      .main_flow_expense{
        width: 420px;
        height:500px;
        float: right;
        margin-right: 100px;
      } 
      .main_flow_search{
        width: 950px;
        height:200px;
        margin-top: 10px;
      } 
      .main_flow_month_data_grafic{
        width: 1000px;
        height:400px;
        margin-top: 10px;
      } 
      .main_flow_month_data {
        width: 1000px;
        height:150px;
        margin-top: 10px;
      } 
    }
  }
  /* 登録日*/
  select#flow_year_month_day_1i { 
    height: 30px;      
    color: #000; 
  }
  select#flow_year_month_day_2i { 
    height: 30px;      
    color: #000; 
  }
  select#flow_year_month_day_3i { 
    height: 30px;      
    color: #000; 
  }
  select#_year_month_day_1i { 
    height: 30px;      
    color: #000; 
  }
  select#_year_month_day_2i { 
    height: 30px;      
    color: #000; 
  }
  select#_year_month_day_3i { 
    height: 30px;      
    color: #000; 
  }
  /* ヘッダー */
  header {
    border-top: 4px solid #6bb;
    padding-top: 4px;
  }

  ul.account-menu {
    text-align: right;
  }

  /* フッター */
  footer {
    clear: both;
    font: 11px Verdana;
    color: #888;
    padding: 8px 0;
    border-top: 4px solid #6bb;
    text-align: center;
  }

  footer nav ul li:not(:last-child):after {
    color: #888;
    content: " | ";
    margin: 0 5px;
  }

  /* メニューバー */
  nav.menubar {
    padding: 2px;
    background-color: #000;
    color: #ccc;
    font-size: 80%;
    padding: 8px 16px;
  }

  nav.menubar ul li:not(:last-child):after {
    color: #ccc;
    content: " | ";
    margin: 0 2px;
  }

  /* メニューバーのリンク */
  nav.menubar a { 
    text-decoration: none;
    margin-right: 20px;
  }

  /* メニューバーのリンク（未訪問） */
  nav.menubar a:link { color: #ccc; }

  /* メニューバーのリンク（訪問済） */
  nav.menubar a:visited { color: #ccc; }

  /* メニューバーのリンク（マウスを合わせたとき） */
  nav.menubar a:hover {
    color: #f88;
    text-decoration: underline;
  }

  /* メニューバーのリンク（現在のページ） */
  nav.menubar span {
    color: #ff8;
    font-weight: bold;
  }

  /* メインコンテンツ */
  main h1 {
    color: #88c;
    font-weight: normal;
    font-size: 150%;
    border-bottom: 2px solid #88c;
    margin-bottom: 0.5em;
  }

  main h2 {
    color: #99d;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ccf;
  }

  main p {
    font-size: 90%;
    line-height: 1.5;
  }

  ul.toolbar,
  div.toolbar {
    padding: 15px 0;
    font-size: 90%;
    text-align: right;
  }

  ul.toolbar li:not(:last-child):after {
    color: #888;
    content: " | ";
    margin: 0 2px;
  }

  /* サイドバー */
  aside#sidebar h2 {
    color: #080;
    font-weight: bold;
    border-bottom: 1px dotted #080;
    margin-bottom: 0.5em;
    font-size: 100%;
  }

  aside#sidebar ul {
    padding-left: 1em;
    list-style-type: none;
  }

  aside#sidebar li {
    margin-bottom: 0.3em;
  }
  /* 入力フォームのtext_field */
  input {
    width:150px;
    text-align: right; 
  }
  /* ログインフォームのtext_field */
  input[type="email"]{
    width:300px;
    text-align: left; 
  }
  input[type="password"]{
    width:300px;
    text-align: left; 
  }
  input[type="submit"]{
    width:150px;
    text-align: center; 
  }

  input[type="checkbox"]{
    width:20px;
    text-align: center; 
  }

  input[type="text"]{
    width:148px;
    text-align: left; 
  }
  
  input[type="number"]{
    width:150px;
    font-size: 15px;
    text-align: right; 
  }

  .btn {
    background: #fff8e8;
    Padding: 5px 15px ;
    font-size: 12px;
    border: 2px solid #57C3E9;
    color: #253141;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
    
    &:hover {
      border-color: lighten(#57C3E9, 15%);
      color: #800080;
    }
  }
}

