/* new,editでのフォーム */
table.list, table.attr {
  font-size: 90%;
  width: 100%;

}

table.list th, table.attr th {
  background-color: #499;
  color: white;
  font-weight: normal;
}

table.list td, table.list th,
table.attr td, table.attr th {
  padding: 4px;
  border: thin #000 solid;  
}

table.list th {
  text-align: left;
}

table.attr th {
  text-align: right;
}

table.list td, table.attr td {
  background-color: #cee;
  text-align: right;
  padding-right: 20px;
}

table.thread td, table.attr th {
  text-align: center;
}


/* showでのフォーム */
table.list, table.attr2 {
  font-size: 90%;
  width: 100%;

}

table.list th, table.attr2 th {
  background-color:#38aef0;
  color: white;
  font-weight: normal;
}

table.list td, table.list th,
table.attr2 td, table.attr2 th {
  padding: 4px;
  text-align: right;
  border: thin #000 solid;  
}

table.list th {
  text-align: left;
}

table.attr2 th {
  text-align: right;
}

table.list td, table.attr2 td {
  background-color: #CCFFFF;
  text-align: right;
  padding-right: 20px;
}

table.thread td, table.attr2 th {
  text-align: center;
}

/* searchでのフォーム */
table.list, table.attr3 {
  font-size: 90%;
  width: 100%;

}

table.list th, table.attr3 th {
  background-color:#38aef0;
  color: white;
  font-weight: normal;
}

table.list td, table.list th,
table.attr3 td, table.attr3 th {
  padding: 4px;
  text-align: right;
  border: thin #000 solid;  
}

table.list th {
  text-align: left;
}

table.attr3 th {
  text-align: right;
}

table.list td, table.attr3 td {
  background-color: #CCFFFF;
  text-align: right;
  padding-right: 20px;
}

table.thread td, table.attr3 th {
  text-align: center;
}

/* month_dataでのフォーム */
table.list, table.attr4 {
  font-size: 70%;
  width: 100%;

}

table.list th, table.attr4 th {
  background-color:#38aef0;
  color: white;
  font-weight: normal;
}

table.list td, table.list th,
table.attr4 td, table.attr4 th {
  padding: 4px;
  text-align: right;
  border: thin #000 solid;  
}

table.list th {
  text-align: left;
}

table.attr4 th {
  text-align: right;
}

table.list td, table.attr4 td {
  background-color: #CCFFFF;
  text-align: right;
}

table.thread td, table.attr4 th {
  text-align: center;
}